@tailwind base;
@tailwind components;
@tailwind utilities;

.hover-bg {
  z-index: 1;

  @apply relative;
}

.hover-bg::after {
  content: "";
  z-index: -1;
  transform-origin: center;
  transition: all 150ms;

  @apply rounded-lg;
  @apply absolute;
  @apply bottom-0;
  @apply left-0;
  @apply w-full;
  @apply h-full;
  @apply bg-zinc-900;
  @apply scale-90;
  @apply opacity-0;
}

.hover-bg:hover::after,
.hover-bg:focus::after {
  @apply scale-100;
  @apply opacity-100;
}
