@tailwind base;
@tailwind components;
@tailwind utilities;

.hover-bg {
  z-index: 1;

  @apply relative;
}

.hover-bg::after {
  content: "";
  z-index: -1;

  @apply rounded-lg;
  @apply bg-zinc-900;
  @apply absolute bottom-0 left-0;
  @apply h-full w-full;
  @apply origin-center scale-90 opacity-0 transition-all;
}

.hover-bg:hover::after,
.hover-bg:focus::after {
  @apply scale-100 opacity-100;
}
