@tailwind base;
@tailwind components;
@tailwind utilities;

.hover-bg {
  @apply relative;
  @apply hover:after:scale-100 hover:after:opacity-100 focus:after:scale-100 focus:after:opacity-100;

  z-index: 1;
}

.hover-bg::after {
  @apply rounded-lg;
  @apply bg-zinc-900;
  @apply absolute bottom-0 left-0;
  @apply h-full w-full;
  @apply origin-center scale-90 opacity-0 transition-all;

  content: "";
  z-index: -1;
}
