@import "tailwindcss";

.command-item[aria-selected="true"] {
  @apply after:scale-100 after:opacity-100 text-[--color-light];
}

@theme {
  --font-sans: system-ui, sans-serif;

  --color-primary: #4baeff;
  --color-dark: #11284a;
  --color-light: #f6f6eb;

  --animate-swing: swing 1s infinite ease-in-out alternate;
  --animate-marquee: marquee 25s linear infinite;
  --animate-fade-in: fadeIn 400ms cubic-bezier(0.16, 1, 0.3, 1);
  --animate-scale: scale 150ms cubic-bezier(0.4, 0, 0.2, 1);
  --animate-rise: rise 150ms cubic-bezier(0.4, 0, 0.2, 1);
  --animate-shake: shake 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

@layer components {
  .hover-bg {
    @apply relative;
    @apply hover:after:scale-100 hover:after:opacity-100 focus:after:scale-100 focus:after:opacity-100 active:after:scale-100 active:after:opacity-100;

    z-index: 1;
  }

  .hover-bg::after {
    @apply rounded-lg;
    @apply bg-[--color-dark];
    @apply absolute bottom-0 left-0;
    @apply h-full w-full;
    @apply origin-center scale-90 opacity-0 transition-all;

    content: "";
    z-index: -1;
  }
}

@keyframes marquee {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes swing {
  from {
    transform: rotate(3deg);
  }
  to {
    transform: rotate(-3deg);
  }
}

@keyframes scale {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes rise {
  from {
    transform: translate(0, 20%) scale(0.8);
  }
  to {
    transform: translate(0, 0) scale(1);
  }
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
